ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
    width: 100%;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    background-color: #e7e9fc;
}
header .container{
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-menu{
    width: 100%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    margin-right: 76px;
}
.menu-link a{
    text-decoration: none;
    color: rgba(46, 47, 66, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    padding: 24px 0;
}
.menu-link a:hover{
    color: rgba(64, 75, 191, 1);
}
.nav-link:active{
    text-decoration: underline;
}
.contacts{
    margin-left: auto;
}
.contact-link{
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
}
.contact-link:hover{
    color: rgba(64, 75, 191, 1);
}
.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: rgba(46, 47, 66, 1);
    font-size: 24px;
    margin-right: 76px;
}
.web-logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: rgba(77, 90, 229, 1);
    font-size: 24px;
}
.address-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.card-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 25%;
    margin-right: 25%;
}
.card{
    border: 1px solid black;
    border-radius: 2%;
    border-color: #2E2F42;
    min-width: 200px;
    min-height: 350px;
}
.card img{
    height: 300px;
    cursor: zoom-in;
    
}
.navbar-brand:hover{
    color: rgba(64, 75, 191, 1);
}
.card-one{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    margin-bottom: 8px;
    border-top: none;
    background-color: #2E2F42;
    margin: 0;
    color: #fff;
}
.title{
    background-color: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
}
#footer{
    padding: 100px 0;
    background-color: #2E2F42;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer .logo{
    color: white;
}
#footer p{
    color: white;
}
@media screen and (max-width: 1280px) { 
    div.card-menu {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 30px;
    } 
} 
@media screen and (max-width: 1140px) { 
    div.card-menu {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 200px;
    }
    div.card-menu img{
        height: 300px;
        width: 200px;
    }
} 
@media screen and (max-width: 992px) { 
    div.card-menu {
        flex-direction: column;
        flex-wrap: nowrap;
    }  
}